.showpage {
  background-color: white;
}

.show-img {
  max-width: 50%;
  height: auto;
}

.seed-img img {
  height: auto;
  width: 100%;
}

.card-q {
  overflow: hidden;
  height: 120px;
  background: #23262B;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 30px 10px;
  border: 2px solid #1EDD88;
}

.card-q h2 {
  font-size: 25px;
  color: white;
  font-family: 'Orbitron';
  font-weight: bold;
  margin: 5px 5px;
}

.card-q-min {
  padding-left: 5px;
}


.card-q .card-q-infos {
  padding: 5px;
}

.title h3 {
  color: white;
}

.card-i {
  overflow: hidden;
  height: 120px;
  // background: #23262B;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 30px 10px;
  // border: 2px solid #1EDD88;
}

.card-i h2 {
  font-size: 16px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  margin: 10px 15px 10px 0px;
}

.card-i span {
  font-family: 'Orbitron';
  font-size: 36px;
  color: white;
}

.card-i p {
  font-family: 'Orbitron';
  font-size: 15px;
  color: white;
  padding: 5px 10px;
}


.card-i .card-i-i {
  padding: 5px;
}

.card-line {
  overflow: hidden;
  height: 120px;
  background: #23262B;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 30px 10px;
  // border: 2px solid #1EDD88;
}

.card-line h2 {
  font-size: 10px;
  writing-mode: vertical-lr;
  text-orientation: upright;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  padding-top: 30px;
  padding-right: 8px;
}

.card-line span {
  color: white;
  font-family: 'Roboto', sans-serif;
}


.card-d p  {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: white;
}

.qest h2 {
  color: white;
  font-family: 'Orbitron';
}

.queue-btn {
  font-family: 'Roboto', sans-serif;
}

#messages {
  font-size: 14px;
  color: white;
  background-color: #121212;
  padding: 20px;
  border: 1px solid #ececec;
  border-top: none;
  border-bottom-width: 0;
  max-height: calc(70vh - 200px - 45px - 61px - 30px);
  overflow: scroll;
  margin: 10px 10px;
}

#message_content {
  background-color: #121212;
  border-radius: 3px;
}

.form-control {
  width: 90%;
  margin-left: 20px;
}


