.showpage {
  background-color: white;
}

.show-img {
  max-width: 50%;
  height: auto;
}

.seed-img img {
  height: auto;
  width: 100%;
}

.card-q {
  overflow: hidden;
  height: 120px;
  background: #23262B;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 30px 10px;
  border: 2px solid #1EDD88;
}

.card-q-l {
  overflow: hidden;
  height: 120px;
  background: #23262B;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 30px 10px;
  border: 2px solid #FD1015;
}

.card-q-ll {
  overflow: hidden;
  height: 120px;
  background: #23262B;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 30px 10px;
  border: 2px solid #FFC65A;
}

.card-q-ll h2 {
  font-size: 25px;
  color: white;
  font-family: 'Orbitron';
  font-weight: bold;
  margin: 5px 5px;
}

.card-q-l h2 {
  font-size: 25px;
  color: white;
  font-family: 'Orbitron';
  font-weight: bold;
  margin: 5px 5px;
}

.card-q h2 {
  font-size: 25px;
  color: white;
  font-family: 'Orbitron';
  font-weight: bold;
  margin: 5px 5px;
}

.card-q-min {
  padding-left: 5px;
}


.card-q .card-q-infos {
  padding: 5px;
}

.card-q-l .card-q-infos {
  padding: 5px;
}

.card-q-ll .card-q-infos {
  padding: 5px;
}

.title h3 {
  color: white;
}

.card-i {
  overflow: hidden;
  height: 120px;
  // background: #23262B;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 30px 10px;
  // border: 2px solid #1EDD88;
}

.card-i h2 {
  font-size: 16px;
  color: white;
  font-family: 'Roboto', sans-serif;
  margin: 10px 15px 10px 15px;
  text-align: left;
}

.card-i span {
  font-family: 'Orbitron';
  font-size: 36px;
  color: white;
}

.card-i p {
  font-family: 'Orbitron';
  font-size: 15px;
  color: white;
  padding: 5px 10px;
}


.card-i .card-i-i {
  padding: 5px;
}

.card-line {
  overflow: hidden;
  height: 120px;
  background: #23262B;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 30px 10px;
  // border: 2px solid #1EDD88;
}

.card-line h2 {
  font-size: 12px;
  writing-mode: vertical-lr;
  text-orientation: upright;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  margin: 10px 20px 10px 10px;

}

.card-line span {
  color: white;
  font-family: 'Roboto', sans-serif;
  margin: 10px 10px 10px 10px;
  height: 100%;
}


.card-d p  {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: white;
}

.qest h2 {
  color: white;
  font-family: 'Orbitron';
}

.queue-btn {
  font-family: 'Roboto', sans-serif;
  background: rgb(67,72,80);
  background: radial-gradient(circle, rgba(67,72,80,1) 0%, rgba(18,18,18,1) 100%);
}

#messages {
  font-size: 14px;
  color: white;
  background-color: #121212;
  padding: 20px;
  // border: 1px solid #ececec;
  border-top: none;
  border-bottom-width: 0;
  max-height: calc(70vh - 200px - 45px - 61px - 30px);
  overflow: scroll;
  margin: 10px 10px;
}

#message_content {
  background-color: #121212;
  border-radius: 3px;
}

.form-control {
  width: 90%;
  margin-left: 20px;
}

.mapboxgl-popup-content {
  background: rgb(60,62,62);
  background: linear-gradient(0deg, rgba(60,62,62,1) 0%, rgba(0,0,0,1) 100%);
  text-align: center;
  font-family: 'Roboto', sans-serif;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 5px 3px rgba(0, 0, 0, 0.1);
  padding: 10px 10px 15px;
  pointer-events: auto;
  opacity: 0.9;
}

.mapboxgl-popup-content h5 {
    color: white;
    font-size: 16px;
  }

.mapboxgl-popup-content h6 {
    color: white;
    font-size: 14px;
  }

.mapboxgl-popup-content p {
    color: white;
    font-size: 12px;
  }

  @media (min-width: 1000px) {
  .media-display-show {
    margin-left: 250px;
    margin-right: 250px;
    }

  .card-i span {
    margin-left: 20px;
  }
}

