// Specific CSS for your home-page
body {
  background-color: white;
}

h1 {
  color: white;
  font-family: "Orbitron";
  text-align: center;
}
h2 {
  color: white;
  font-family: "Orbitron";
  text-align: center;
  margin-bottom: 2rem;
}
.text {
  color: white;
}
