// Specific CSS for your home-page

.text {
  color: black;
}

.home-title h1 {
  color: white;
  font-size: 45px;

}

.card-category {
  background-image: url("https://source.unsplash.com/Tk7pycVBzq8");
}

.search-form-control {
  color: white;
  margin: 10px 10px;
  font-family: 'Roboto', sans-serif;
}

.search-form-box {
  width: 50%;
}
