// Specific CSS for your home-page

.text {
  color: black;
}

.home-title h1 {
  color: white;
  font-size: 45px;

}

.card-category {
  background-image: url("https://source.unsplash.com/Tk7pycVBzq8");
}

.search-form-control {
  color: white;
  margin: 10px 10px;
  font-family: 'Roboto', sans-serif;
}

.search-form-box {
  width: 50%;
}


@media (min-width: 800px) {
  .media-display-home {
    margin-left: 200px;
    margin-right: 200px;
    }
}

.legal-mentions p {
  color: white;
  margin: 50px 55px 10px 10px;
  font-family: 'Roboto', sans-serif;
  text-align: right;
  font-size: 10px;
}
