// Import page-specific CSS files here.
@import "home";
@import "global";

@media (max-width: 599px) {
  .date-filter-box {
    width: 150px !important;
    height: 35px !important;
  }
}

// @media (max-width: 599px) {
//   .flatpickr {
//     width: 40px !important;
//     height: 15px !important;
//   }
// }

.card-index h2 {
  font-size: 15px;
}

.filter-date {
  text-align: center;
}
.filter-date h3 {
  font-size: 16px;
}

.card-product {
  margin-right: 2px;
  margin-left: 2px;
  margin-top: 8px;
  margin-bottom: 8px;
}

input[type="date"]::-webkit-clear-button {
    display: none;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button {
    display: none;
}

/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator {
    color: #2c3e50;
}

/* A few custom styles for date inputs */
input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    color: #95a5a6;
    font-family: "Helvetica", arial, sans-serif;
    font-size: 18px;
    border:1px solid #ecf0f1;
    background:white;
    padding:5px;
    display: inline-block !important;
    visibility: visible !important;
}

input[type="date"], focus {
    color: #95a5a6;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
