<div class="footer">
  <div class="footer-links">

     <%= link_to root_path do %>
     <i class="button fas fa-home"></i>
    <% end %>

    <%= link_to events_path do %>
   <i class="button fas fa-list-ul"></i>
    <% end %>


   <i class="button fas fa-heart"></i>


<%= link_to new_event_path do %>
   <i class="button fas fa-plus-circle"></i>
    <% end %>
  </div>
</div>
<!--
   <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a> -->
