<% @event_wishlists.each do |event_wishlist|%>
<div class="card-product-infos">
<%= event_wishlist.event.title %>
<%= event_wishlist.event.location %>
<%= event_wishlist.event.start_time %>
<%= event_wishlist.event.line_up %>
</div>
<% end  %>
