
<div class="card-category">
  <div class="container">
    <div class=home-title>
    <h1><strong>Don't wait.<strong> Dance.</h1>
    </div>

<!-- <form class="form-inline d-flex justify-content-center md-form form-sm">
  <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search for an event, club, or city"
    aria-label="Search">
  <i class="fas fa-search" aria-hidden="true"></i>
</form> -->
    <div class="search-form-control">
      <%= form_tag events_path, method: :get do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control",
        placeholder: "Type a city, event, or club"
        %>
        <button type="button" class="btn"><i class="fas fa-search"></i></button>
      </div>
      <% end %>
    </div>
  </div>
  <br><br>
  <div class=tonight>
  <h2>HOW IT WORKS</h2>
  </div>
   <div class="card-product">
    <img src="https://source.unsplash.com/1xCqdWUfEss" >
    <div class="card-product-infos">
    <h2>TITLE</h2>
    <p> TEXT</p>
  </div>
</div>

