<% content_for :meta_title, "Find all the relevant informations you need before going to this event." %>
<div class="card-category">
  <div class="container">
    <div class=home-title>
      <h1>DON'T WAIT.<br>DANCE.</h1>
      </div>

<!-- <form class="form-inline d-flex justify-content-center md-form form-sm">
  <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search for an event, club, or city"
    aria-label="Search">
  <i class="fas fa-search" aria-hidden="true"></i>
</form> -->

</div>
</div>
<div class="search-form-control">
  <%= form_tag events_path, id: "home-page-search", method: :get do %>
  <%= text_field_tag :query_word,
  params[:query_word],
  class: "form-control",
    placeholder: "Type a city, event, or club"
    %>
    <button type="submit" form="home-page-search" class="btn home-btn"><i class="fas fa-search"></i></button>

</div>

  <% end %>
<div class=tonight>
</div>
<div class="card-product card-home" id="card-find">
<!--   <img src="https://source.unsplash.com/SbPUMwGYzLo" >
 -->
<!--   <div class="card-product-infos">
 -->
 <div>
  <h2>FIND</h2>
  <p>all types of events happening around you</p>
</div>
<!--   </div>
 --></div>

</div>
<div class="card-product card-home" id="card-check">
<!--   <img src="https://source.unsplash.com/R25Q-pAUeY8" >
 --> <!--  <div class="card-product-infos">
    <h2>CHECK</h2>
    <p>The live queueing time at the event and head out</p>
  </div> -->
<div>
<h2>CHECK</h2>
  <p>the live queueing time at the event and head out</p>
</div>
</div>
<div class="card-product card-home" id="card-share">
<!--   <img src="https://source.unsplash.com/m41k1lTzjVM" >
 -->  <!-- <div class="card-product-infos"> -->
    <div>
      <h2>SHARE</h2>
      <p>information about the queue once you arrive and party</p>
    </div>
<!--   </div>
 --></div>
