<% content_for :meta_title, "Find all the relevant informations you need before going to this event." %>
<div class="card-category">
  <div class="container">
    <div class=home-title>
      <h1>MORGEN IST<br>DIE FRAGE.</h1>
      </div>

<!-- <form class="form-inline d-flex justify-content-center md-form form-sm">
  <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search for an event, club, or city"
    aria-label="Search">
  <i class="fas fa-search" aria-hidden="true"></i>
</form> -->

</div>
</div>
<div class="search-form-control">
  <%= form_tag events_path, method: :get do %>
  <%= text_field_tag :query_word,
  params[:query_word],
  class: "form-control",
    placeholder: "Type a city, event, or club"
    %>
    <button type="button" class="btn home-btn"><i class="fas fa-search"></i></button>
  </div>
  <% end %>
<div class=tonight>
</div>
<div class="card-product">
  <img src="https://source.unsplash.com/SbPUMwGYzLo" >
  <div class="card-product-infos">
    <h2>FIND</h2>
    <p>ALL TYPES OF EVENTS HAPPENING AROUND YOU</p>
  </div>
</div>

</div>
<div class="card-product">
  <img src="https://source.unsplash.com/R25Q-pAUeY8" >
  <div class="card-product-infos">
    <h2>CHECK</h2>
    <p>THE LIVE QUEUEING TIME AT THE EVENT AND HEAD OUT</p>
  </div>
</div>
</div>
<div class="card-product">
  <img src="https://source.unsplash.com/m41k1lTzjVM" >
  <div class="card-product-infos">
    <h2>SHARE</h2>
    <p>INFORMATION ABOUT THE QUEUE ONCE YOU ARRIVE AND PARTY</p>
  </div>
</div>
