<%= simple_form_for([@event, @queue_estimation]) do |f| %>
<%= f.error_notification %>
<body class="">
  <div class="">
    <h2>Enter in the waiting time!</h2>
    <form>
      <div class="user-box">
        <%= f.input :waiting_time %>
      </div>

    </div>
    <div class="form-actions">
      <%= f.button :submit %>
    </div>

  </form>
</body>
<% end %>
