.footer {
  background: #121212;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  position: fixed;
  bottom: 0;
  width: 100%;
  border-style: solid;
}
.footer-links {
  display: flex;
  align-items: center;
  padding: 0px 50px;
}
.footer-links .button {
  text-decoration: none;
  color: white;
  padding: 0px 15px;
}

.footer-links .button:hover {
  font-weight: bolder;
}
