.fa-heart{
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.fa-heart-broken {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

#heart2 {
  bottom: 0px !important;
  position: absolute !important;
  right: 20px;
}
