.fa-heart{
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.fa-heart-broken {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.heartshow {
  .fas {
  top: 12px;
  position: absolute !important;
  right: 46%;
  }
}
