.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
}

@media (min-width: 560px) {
  .media-map-container {
    display: none;
  }
  .indexbackground {
    position: relative !important;
    top: 5vh !important;
  }
}
