.mapbox-directions-component-keyline {
  width: 200px;
}

.mapbox-form-label {
  margin-bottom: 0px;
}

.mapbox-directions-profile {
    margin: 8px;
    margin-left: 0px !important;
}

.mapbox-directions-profile > label{
  margin-bottom: 0px
}

.directions-control.directions-control {
  width: 100%;
  max-width: 81% !important;
}

.directions-control.directions-control-directions {
  max-height: 280px !important;
}

.mapbox-form-label .directions-icon {
  background-color: #121212 !important;
}
