.navbar-lewagon {
  justify-content: space-between;
  background: $almost-black;
  width: 100%;
  ul {
    margin-bottom: 0;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
