.navbar-lewagon {
  justify-content: space-between;
  background: #121212;
  width: 100%;
  color: black;
  position: fixed;
  top: 0;

  ul {
    margin-bottom: 0;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  background-color: white;
}


.fa-cog {
  color: white;
}

.navbar-lewagon .navbar-brand img {
  width: 3em;
}
